.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 200px auto;
  }

  .inputWrapper {
    margin-bottom: 30px;
  }

