
   .wrapper {
      display: flex;
      justify-content: center;
      margin: 10px 10px 10px 10px;
   }
   .img{
      width: 200px;
      height: 200px;
   }
   .stats {
      display: flex;
   }
   .title {
      margin-right: 15;
   }
   .box{
      margin: 5px;
   }

