html {
      background: url('../static/img/pokemon.jpg') ;
        background-repeat: no-repeat;
    background-size: cover;
    background-position:  center center;
    background-attachment:  fixed;
    
}