   .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 100px auto;
      border-radius: 30;
      width: 300;
   }
   .inputWrapper {
      margin-top: 25px;
   }
   .formControlWrapper {
      margin-bottom: 30px;
      width: 50px;
   }


